$dark-yellow: #E4BE4D;
$background: #242425;

body{
    background: $background;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
        color: $dark-yellow;
        text-decoration: none;
    }
    button{
        text-decoration: none;
        background: $dark-yellow;
        width: 25%;
        height: 50px;
        margin-top: 15px;
        border: none;
        color: white;
    }
    form{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
            input{
                padding: 1%;
                margin-top: 5px;
                text-decoration: none;
                background: $background;
                color: white;
                height: 25px;
                border: none;
                border-bottom: 1px solid darkgrey;
            }
    }
    .login-image{
        width: 33%;
    }
}
