$dark-yellow: #e4be4d;

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: rgba(51, 51, 52, 0.95);
  display: flex;
  .container-left {
    height: 100px;
    img {
      margin: 20px 0 20px 135px;
    }
  }
  .container-right {
    margin-left: 60%;
    margin-right: 135px;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    .login {
      height: 38px;
      width: 120px;
      margin: 30px 0 30px 0;
      border: 2px solid #e4be4d;
      border-radius: 27.5px;
      color: #e4be4d;
      font-family: 'Helvetica Neue';
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: 36px;
      text-decoration: none;
    }
    .signup {
      height: 38px;
      width: 120px;
      margin: 30px 0 30px 30px;
      border-radius: 27.5px;
      background-color: $dark-yellow;
      color: white;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: 36px;
      text-decoration: none;
    }
  }
}

.nav-bar-loggedin {
  height: 73px;
  width: 100%;
  opacity: 0.95;
  background-color: #1e1e1c;
  display: flex;
  .container-left {
    height: 73px;
    // margin-left: 8%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    img {
      height: 60px;
      //   width: 169px;
      margin-right: 80px;
      margin: 7px 80px 0 135px;
    }
    input {
      height: 32px;
      width: 100%;
      border-radius: 4px;
      background-color: white;
      color: #e4be4d;
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }
  .container-right {
    height: 73px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    a {
      height: 73px;
      width: 77.19px;
      color: #e4be4d;
      font-family: 'Helvetica Neue';
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 26px;
      margin: 18px 0 0 36px;
      text-decoration: none;
    }
  }
}
