$dark-yellow: #e4be4d;

.tab-card-container {
  .modal-content {
    height: 550px;
    width: 500px;
    background-color: #1e1e1c;
    opacity: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
    .modal-header {
      border-bottom: 0px;
      .modal-title {
        margin: 5px 0 10px 150px;
      }
    }
    .modal-body {
      text-align: center;
      h1 {
        margin: 0 0 30px 0;
      }
      h4 {
        // text-align: left;
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
    .modal-footer {
      border-top: none;
      .cancel-btn {
        font-size: 1.4rem;
        height: 70px;
        width: 150px;
        background-color: #1e1e1c;
        border: 2px solid $dark-yellow;
        color: $dark-yellow;
        &:hover {
          border-color: rgba(228, 190, 77, 0.5);
        }
      }
      .update-btn {
        font-size: 1.4rem;
        height: 70px;
        width: 150px;
        background-color: $dark-yellow;
        &:hover {
          background: rgba(228, 190, 77, 0.5);
        }
      }
      .delete-btn {
        font-size: 1.4rem;
        height: 70px;
        width: 150px;
        background-color: darken($dark-yellow, 15%);
        &:hover {
          background: rgba(228, 190, 77, 0.5);
        }
      }
    }
  }
}
